.header {
    display: flex;
    align-items: center;
    margin: 20px var(--container-margin);

    nav {
        margin-left: 50px;
    }

    a {
        color: var(--color-primary);
        font-weight: bold;
        margin: 0 10px;
    }
}